// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title{
    font-size: 20px;
    margin-left: 600px;
}
.cart-top li{
    float: left;
}
.cart-bottom{
    float: left;
}
.table{
    height: 400px;
}
table{
    border-collapse:  collapse; 
    width: 60%;
    margin: 0 20% 0 20%;
}
tr{
    width: 60%;
}
th,td{
    border: 1px solid black;
}
.amount{
    width: 150px;
}
.price{
    width: 100px;
}
.remark{
    width: 150px;
}
.delete a:link{
    color: black;
}
.delete a:visited{
    color: black;
}
.table-under{
    display: flex;
    margin-left: -250px;
    font-size: 20px;
}
.center{
    margin-left: 50px;
}
.right{
    margin: 20px 0 0 200px;
}
.right a:link{
    color: black;
}
.right a:visited{
    color: black;
}