<%= stylesheet_link_tag 'admin/genres', :media => "all" %>

<div class="edit-container">
	<div class="center">
		<p class="edit-title">ジャンル名変更</p>
		<%= form_with model:@genres, url:admin_genre_path(@genres.id), method: :patch do |f| %>
			<%= f.text_field :name, class:'text_field' %>
			<%= f.submit '変更を保存' ,class:'btn' %>
		<% end %>
	</div>
</div>