<%= stylesheet_link_tag 'admin/homes', :media => "all" %>

<div class="top-image">
    
    <div class="top-image-left"></div>
    <div class="top-image-right"></div>
    
</div>

<div class="caption">
    <p class="intro">ようこそ、『Ones Room』へ！<br>
    ここは、オンラインで全国へインテリアを販売したいインテリアショップと、<br>
    自分好みのインテリアを見つけたい人をつなぐサイトです。
    </p>
</div>
