// Place all the styles related to the admin/admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title{
    margin-left: 650px;
}
.user-info{
    display: flex;
}
.user-info-left{
    margin-left: 550px;
    font-size: 20px;
}
.user-info-right{
    margin-left: 50px;
    float: right;
    font-size: 20px;
}
.order-link{
    margin-left: 550px;
    font-size: 15px;
}