// Place all the styles related to the admin/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



// editページ
.edit-container{
    width: 100vw;
    height: 100vh;
}
.center{
    width: 33%;
    height: 100%;
    margin: 0 auto;
}
.edit-title{
    font-size: 20px;
    margin: 200px 0 0 0;
    padding: 0 0 0 150px;
}
.text_field{
    width: 200px;
    height: 30px;
    margin-left: 100px;
}
.btn{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #e7e5e3;
    box-shadow: inset 5px 5px 5px #dedbd7, inset -5px -5px 5px #dedbd7;

}